<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PerguntasFrequentes</title>
</head>
<body>
    {% if quest_recent %}
        <h1>Perguntas frequentes:</h1>
        <ul>
            {% for pergunta in quest_recent %}
                <!--href="/enquetes/{{pergunta.id}}"-->
                <li><a href="{% url 'enquetes:detail' pergunta.id %}">
                    {{ pergunta.texto}}
                    </a>
                    <a href="{% url 'enquetes:results' pergunta.id %}">
                        (Resultado Parcial)
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma questão disponível.</p>
    {% endif %}
</body>
</html>