<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Questão</title>
</head>
<body>
    <h1>Cadastro Questão</h1>
    <h2>{{ simulado.titulo }}</h2>
    <form action="{% url 'simulado:criaquestao' simulado.id %}" method="POST">
        {% csrf_token %}
            <fieldset>
                <input name="texto_quest" id="" placeholder="Texto da questão" required >
            </fieldset>
        
            <fieldset>
                <input name="alt01" id="" placeholder="alternativa 01" required >
                <input type="radio" name="correta" value="alt01" >Correta
            </fieldset>

            <fieldset>
                <input name="alt02" id="" placeholder="alternativa 02" required >
                <input type="radio" name="correta" value="alt02" >Correta
            </fieldset>

            <fieldset>
                <input name="alt03" id="" placeholder="alternativa 03">
                <input type="radio" name="correta" value="alt03" >Correta
            </fieldset>

            <fieldset>
                <input name="alt04" id="" placeholder="alternativa 04">
                <input type="radio" name="correta" value="alt04" >Correta
            </fieldset>

        <button type="submit" id="form-submit" class="button">Cria questão</button>
    </form>
</body>
</html>