<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <p>Logado como: {{ request.user.username }}</p>
    <form action="{% url 'simulado:login' %}" method="POST">
        {% csrf_token %}
        <fieldset>
        <input name="username" id="username" placeholder="Digite seu nome" required >
        </fieldset>
        <fieldset>
        <input name="senha" type="password" id="senha" placeholder="Digite sua senha" required>
        </fieldset>
        <button type="submit" id="form-submit" class="button">Entrar</button>
    </form>
        <p >Não tem uma conta? <a href="{% url 'simulado:cadastrousuario' %}">Cadastrar-se</a></p>
</body>
</html>