<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulados</title>
</head>
<body>
    <h1>SIMULADOS</h1>
    <p>Logado como: {{ request.user.username }}</p>
    <a href="{% url 'simulado:dashboard' %}">Meus Simulados</a>
    <ul>
        {% for simulado in simulados %}
            <li>
                <a href="{% url 'simulado:detalhe' simulado.id %}">
                    {{ simulado.titulo }}
                </a>
            </li>
        {% endfor %}
        <br>
        <a href="{% url 'simulado:login' %}">Login</a>
        <a href="{% url 'simulado:cadastrousuario' %}">Cadastrar-se</a>
    </ul>
</body>
</html>